body {
    font-family: Cottonwood;
    background-color: #EAECEE;
}

h1 {
    color: black;
    text-align: center;
}

#tablero-izquierdo {
    width: 25%;
    position: absolute;
    height: 100%;
    padding: 10px;
    left: 0px;
}

#tablero-derecho {
    width: 25%;
    position: absolute;
    height: 100%;
    padding: 10px;
    right: 0px;
}

.contenedor {
    position: relative;
    height: 6%;
}

.contenedor2 {
    position: relative;
    height: 18%;
    left: -10px;
}

.reducido {
    height: 4%;
}

.componente {
    position: absolute;
    max-width: 100%;
    max-height: 150%;
    z-index: 0;
}

.producto {
    position: absolute;
    max-width: 200%;
    max-height: 200%;
    z-index: 2;
}

.layout {
    height: 80%;
    width: 45%;
    border: 2px solid #212F3C;
    border-radius: 1rem;
    position: absolute;
    opacity: 1;
    z-index: 1;
    margin: auto;
    left: 0px;
    right: 0px;
}

.rotulo {
    width: 45%;
    height: 5%;
    background: #212F3C;
    position: absolute;
    opacity: 0.7;
    z-index: 1;
    margin: auto;
    left: 0px;
    right: 0px;
    border-radius: 1em 1rem 0px 0px;
    text-align: center;
    color: black;
}

.titulo {
    position: relative;
    display: inline;
    top: 1rem;
    color: white;
    font-size: larger;
}